#container {
  border: 3px solid #0672de;
  /* background-color: #0672de; */
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5% 4% 5% 5%;
  /* 상우하좌 */
}

#logo {
  size: 10cm;
}
.text {
  font-weight: 700;
  text-align: center;
  margin-bottom: 8%;
}
.text1 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 5%;
}
.text2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 5%;
  color: #5d5d5d;
}
.text3 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1%;
  color: #5d5d5d;
}
.btn {
  border: 1px solid #0672de;
  background-color: #0672de;
  color: #ffffff;
  padding: 5px;
  width: 200px;
  height: 35px;
  display: inline-block;
}

.btndiv {
  margin: 0% 0% 0% 0%;
  padding: 1% 0% 1% 0%;
}

#upload {
  width: 100%;
  padding-left: 41%;
}

#update {
  width: 100%;
  text-align: center;
  padding-left: 41%;
}

#buttons {
  width: 100%;
  display: inline-block;
  text-align: center;
}

#cambutton {
  width: 100%;
  display: inline-block;

  text-align: center;
}

#update_done {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  color: #747474;
}

.filebox {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.filebox label {
  display: inline-block;
  margin-top: 5px;
  padding: 2px 5px 10px 5px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  height: 15px;
  width: 190px;
}

.filebox input[type="file"] {
  display: inline-block;

  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
