<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>방문자 확인 카메라</title>
        <link rel="stylesheet" href="../static/camera.css" type="text/css" media="all" /> 
    </head>
    <body>
        <div id = 'conhead' style = "text-align:center" "margin-top=50%";>
            <img src = '../static/logo.png', alt = "logo", width="350", height="200", margin-top="30%">
        </div>

        <div id = 'container'>
            <p class='text'>카메라를 키면 방문자 확인을 시작합니다</p>
            <div id='buttons'>
                <form id="upload" action="/predict" method="POST" enctype="multipart/form-data" style='text-align:center; border-top-right-radius: 5px; width: 10%'>
                    <div class='btndiv'>
                        <button class="btn">Camera On</button>
                    </div>
                </form>
                <form id="update" action="/update" method="POST" enctype="multipart/form-data" style='text-align:center; border-top-right-radius: 5px; width: 15%'>
                    <div class='btndiv'>
                        <button class="btn">Update</button>
                    </div>
                </form>
                
            </div>
            <div class='filebox'>
                <input type="file" value="Upload" name="image" id='file'>
                <label for='file'>방문자 사진 등록</label>
                <div class='code'>
                    
                </div>
            </div>
            {% if d0 %}
                <span id='update_done'>
                    {{d0}}
                </span>
            {% endif %}
        </div>
    </body>
</html>